<div class="card" style="width: 18rem;" >
  <img src={{@cocktail.thumbnail}} class="card-img-top" alt="Card image cap">
  <div class="card-body">
    <p class="card-text"> Name: {{@cocktail.name}} </p>
    <p class="card-text"> Glass: {{@cocktail.glass}}</p>
    <p class="card-text"> Instructions: {{@cocktail.instructions}}</p>
    <p class="card-text"> {{#each @cocktail.ingredients as |ingredient|}}
      <ul>
        <li> {{ingredient.measure}} {{ingredient.ingredient}}</li>
      </ul>
    
    {{/each}}</p>
  </div>
</div>