<div class="card flip-card">
  <div class="flip-card-inner">
    
    <div class="flip-card-front">
      <img src={{@cocktail.imagePath}} alt="" style="width:300px; height:300px;">
    </div>

    <div class="flip-card-back">
      <img src={{@cocktail.thumbnail}} class="card-img-top" alt={{@cocktail.name}}>
      <div class="card-body">
        <p class="card-text"> Name: {{@cocktail.name}} </p>
        <p class="card-text"> Glass: {{@cocktail.glass}}</p>
        <p class="card-text"> Instructions: {{@cocktail.instructions}}</p>
        <p class="card-text"> {{#each @cocktail.ingredients as |ingredient|}}
          <ul>
            <li> {{ingredient.measure}} {{ingredient.ingredient}}</li>
          </ul>
        
        {{/each}}</p>
      </div>
    </div>

  </div>

</div>