<div class="card flip-card">
  <div class="flip-card-inner">

    <div class="flip-card-front">
      <img class="card-front-image" src={{@cocktail.imagePath}} alt="{{@cocktail.name}}">
    </div>

    <div class="flip-card-back bg-light">
      <img src={{@cocktail.thumbnail}} class="card-img-top" alt={{@cocktail.name}}>
      <div class="card-body">
        <p class="card-text"> Name: {{@cocktail.name}} </p>
        <p class="card-text"> Glass: {{@cocktail.glass}}</p>
        <p class="card-text card-instructions"> Instructions: {{@cocktail.instructions}}</p>
      </div>
    </div>

  </div>

</div>